.uhmanoaslist-landing-page {
  background: url('/images/landing-4.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.header {
  font-size: 40pt;
  border: #0ea432;
  color: white;
}

.header2 {
  font-size: 30pt;
  border: #0ea432;
  color: white;
}