.uhmanoaslist-landing-page {
  background: url('/images/UHUHUH.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.header {
  font-size: 40pt;
  color: white;
}

.header2 {
  font-size: 30pt;
  color: white;
}
